body {
    background-color: #0d0d0d;
    color: white;
    overflow-x: hidden;
}

.side-nav {
    width: 250px;
    height: 100vh;
    background: #111;
    position: fixed;
    left: -250px;
    top: 0;
    padding: 20px;
    transition: left 0.5s ease;
    z-index: 999;
}

.side-nav.open {
    left: 0;
}

.open-btn {
    font-size: 30px;
    cursor: pointer;
    margin: 20px;
}

.close-btn {
    font-size: 25px;
    cursor: pointer;
}

.side-nav .links a {
    display: block;
    margin: 20px 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.4s;
}

.side-nav.open .links a {
    opacity: 1;
    transform: translateY(0);
}

.meal {
    cursor: pointer;
    transition: 0.3s;
}

.meal:hover {
    transform: scale(1.05);
}

.cursor-pointer {
    cursor: pointer;
}


.recipe-badge {
    background-color: #bde0fe;
    color: #000;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
    display: inline-block;
    font-weight: 500;
}

